.header{
    font-size: 40px;
    color: white;
}
p{
    font-size: 25px;
}
body{
    text-align: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonSpace{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttons{
    border-radius: 25px;
    outline: none;
    font-size: 50px;
    width: 200px;
    height: 130px;
    margin: 10px;
}
.buttons:hover{
    background-color: lightgray;
}

#theResult{
    font-size: 25px;
    color: white;
}

@media (max-width: 600px){
    .header{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }

    #theResult{
        font-size: 20px;
    }
}
